<!doctype html>
<head>
	<title>a bug in {{abug}}</title>
	{{#abug}}
		<script src="scripts/speakGenerator.js" ></script>
		<script src="scripts/speakClient.js" ></script>
	{{/abug}}
	<script src="scripts/google_analytics.js" ></script>
</head>

<body>
	Ripped off audio from notch's new game trailer for http://0x10C.com .
	Thanks to speak.js and emscripten. Code is http://github.com/jedahan/abug-in .
	{{#abug}}
    	<audio src='this_lead_to_a_severe_bug_in.wav' autoplay onended="speak('{{abug}}', {noWorker: true})" ></audio>
    {{/abug}}
    {{^abug}}
    	<audio src='this_lead_to_a_severe_bug_in_the_included_drivers.wav' autoplay></audio>
    {{/abug}}
    <div id="audio"></div>
</body>
